@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

* {
    margin: 0; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.wrapper {
    height: 100vh;
    margin: auto;
}

body {
    line-height: 1.2;
    letter-spacing: 5px;

    font-variant: small-caps;
}

/* -- Navigation bar / Header -- */

nav {
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;

    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    
    font-size: 40px;
    text-transform: uppercase;

    color: white;
    background-color: coral;
}

nav ul li {
    padding: 5px;
    padding-bottom: 1px;
    
    list-style: none;
    font-size: 20px;
}

nav a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    
    color:white;
}
 
nav a:hover {
    background-image: linear-gradient(teal, lightblue);
} 

nav li:hover {
    background-image: linear-gradient(teal, lightblue);
} 

nav a:active {
    background-image: linear-gradient(teal, lightblue);
}

/* -- Hero Section -- */

header {
    min-height: 1000px;

    background-image: url(https://picsum.photos/id/16/1000/1250);
	background-position: bottom;
    background-size: cover;
    
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

header h1  {
    margin-top: 40px;

    font-size: 55px;
    text-align: center;

    color: white;
}

header p {
    margin-top: 50px;

    font-size: 60px;
    text-align: center;

    color: white;
}

/* -- Gallery Section -- */

#banner_1 {
    padding: 25px 0px 25px 0px;
    text-align: center;
    
    font-size: 45px;
    font-family: 'Montserrat Alternates', sans-serif;
    
    color: white;
    background-color: coral;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

	padding-bottom: 5px;
    border: 1px solid black;
    
    background-color: rgba(122, 109, 105, 0.322); 
}

.gallery img {
    margin: 2px;
}

/* -- Comment Form -- */

.container {
    display: flex;
	justify-content: space-around;
    flex-flow: wrap;

    align-items: center;
    overflow: hidden;

    font-family: 'Roboto', sans-serif;

    background-color: rgba(122, 109, 105, 0.322); 
}

/* -- Comment Form -- */

form {
    margin: 5px;
    width: 400px;

    border: 5px solid coral;
    border-radius: 1em;

    text-align: center;
}

legend {
    margin: 10px;
    font-size: 25px;
    padding-bottom: 0px;
    text-align: center;
}

label {
    margin: 10px;
    padding-top: 15px;
    display: inline-block;

    text-align: right;
    font-size: 18px;
}

label {
    width: 120px;
    display: inline-block;

    text-align: right;
}

input, textarea { 
    width: 200px;

    box-sizing: border-box;
    border: 1 px solid #999;
} 

textarea {
    height: 5em;
    vertical-align: top;
    overflow: auto;
}

.button {
    margin: 10px; 
}

button {
    padding: 5px 5px 5px 5px;

    color:white;
    background-color: coral;
}

/* -- Contact US Info -- */

.container ul {
    list-style: none;
    font-size: 18px;
    padding: 10px;
    border: 5px solid coral;
    line-height: 2;
}

#contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

    text-decoration: none;
    padding: 20px 0px 20px 0px;

    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;

	color:white;
	background: teal
}

/* --Footer -- */

footer {
    text-align: center;
    
    padding-top: 20px;
    padding-bottom: 20px;
    
	font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;

	color:white;
	background: teal
} 

