@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

/* -- Layout Section -- */
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    line-height: 1.2;
    letter-spacing: 5px;
    font-variant: small-caps;

    background-color: rgba(122, 109, 105, 0.322); 
}

/* -- Navigation Bar / Header -- */

nav {
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    overflow: hidden;
    
    font-size: 40px;
    text-transform: uppercase;

    color: white;
    background-color: coral;
    font-family: 'Montserrat Alternates', sans-serif;
}

nav ul li {
    padding: 10px 25px 10px 0px;

    font-size: 16px;
    list-style: none;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    
    color:white;
}

nav a:hover {
    background-image: linear-gradient(teal, lightblue);
} 

nav a:active {
    background-image: linear-gradient(teal, lightblue);
}

.current {
    background-image: linear-gradient(teal, lightblue);
}

/* -- Registration Form -- */

.register {
    height: 70vh;

    display:flex;
    justify-content: center;
    align-items: center; 

    overflow: hidden;
}

form {
    width: 385px;
    margin-top: 65px;
    margin-bottom: 40px;
    padding: 15px;
    
    border-radius: 1em;
    border: 5px solid teal;

    font-family: 'Roboto', sans-serif;
    
    color: black;
    background-color: rgba(122, 109, 105, 0.13); 
}

legend {
    padding-top: 2px;
    padding-bottom: 10px;

    font-size: 25px;
    text-align: center;
 }

 label {
    display: flex;
    justify-content: center;
    align-content: center;

    padding: 5px;
    font-size: 20px;
}

input, textarea { 
    height: 25px;
    width: 250px;
    
    margin-left: 50px;
    border: 1 px solid #999;
} 

.button {
    display: flex;
    justify-content: center;
    
    padding-top: 5px;
    padding-bottom: 10px;
}
    
button {
    padding: 10px;
    
    color:white;
    background-color: coral;
}
    
/* -- Footer -- */

footer {
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: hidden;

	font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;

	color:white;
	background: coral
} 
    






